@import "./../css/normalizer.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "../css/mixins.scss";

* {
	box-sizing: border-box;
}

:root {
	--body-background-color: #282828;
	--header-background-color: #363435;
	--danger: #e03337;
	--success: #61a654;
	--white: #fff;
	--black: #000;
	--yellow: #ffdd0c;
	--gray: #e3e1e6;
	// header config
	--chapter-title-background-color: #ffdd0c;
	--chapter-title-text-color: black;
	--chapter-subtitle-background-color: #363435;
	--chapter-subtitle-text-color: white;
	--username-text-color: white;
	// button config
	--cta-border-color: var(--danger);
	--cta-border-hover-color: var(--danger);
	--cta-background-color: var(--danger);
	--cta-text-color: var(--white);
	--cta-background-hover-color: var(--white);
	--cta-text-hover-color: var(--danger);
	// main config
	--main-background-color: var(--gray);

	// tnf CTA config
	--tnf-background-color: var(--white);
	--tnf-border-color: #20252f;
	--tnf-text-color: var(--black);
	--tnf-background-hover-color: var(--black);
	--tnf-border-hover-color: #20252f;
	--tnf-text-hover-color: var(--white);
	--tnf-background-disable-color: var(--black);
	--tnf-border-disable-color: #20252f;
	--tnf-text-disable-color: var(--white);
	// end screen
	--end-correct-background-color: #4ce052;
	// footer config
	--footer-background-color: var(--white);
}

body,
html {
	width: 100%;
	height: 100%;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--body-background-color);
}

/* common css */
.hide {
	display: none !important;
}

.textCenter {
	text-align: center;
}
.textDanger{
	color: var(--danger);
}
.textSuccess{
	color: var(--success);
}

.desktopOnly {
	display: block;
	@include media(allTouchDevice) {
		display: none !important;
	}
}

.mobileOnly {
	display: none;
	@include media(allTouchDevice) {
		display: block;
	}
}

.desktopOnlyInline {
	display: inline-block;
	@include media(allTouchDevice) {
		display: none !important;
	}
}

.mobileOnlyInline {
	display: none;
	@include media(allTouchDevice) {
		display: inline-block;
	}
}

button {
	border: 1px solid var(--cta-border-color);
	background-color: var(--cta-background-color);
	color: var(--cta-text-color);
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 25px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	white-space: nowrap;

	&:hover {
		border-color: var(--cta-border-hover-color);
		background-color: var(--cta-background-hover-color);
		color: var(--cta-text-hover-color);

		svg {
			path {
				stroke: var(--cta-text-hover-color);
			}
		}
	}

	&:disabled {
		cursor: default;
		color: rgba(16, 16, 16, 0.3);
		border: 1px solid rgba(16, 16, 16, 0.3);
		background-color: rgba(0, 0, 0, 0);

		svg {
			path {
				stroke: rgba(16, 16, 16, 0.3);
			}
		}
	}

	svg {
		vertical-align: middle;
		path {
			stroke: var(--cta-text-color);
		}
	}
}

.mainContainer {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

	.section {
		max-width: 1440px;
		width: 100%;
		height: 700px;
		padding: 0 5px;
	}
}

header {
	background-color: var(--header-background-color);
	width: 100%;
	display: flex;
	justify-content: space-between;

	.chapter {
		display: flex;
		font-size: 20px;

		.title {
			padding: 10px 20px;
			background-color: var(--chapter-title-background-color);
			color: var(--chapter-title-text-color);
			font-weight: 600;
			padding-right: 20px;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 32px;
				height: 32px;
				background-color: var(--chapter-title-background-color);
				display: block;
				right: -17px;
				top: 6px;
				transform: rotate(45deg);
			}
		}

		.subtitle {
			padding: 10px;
			background-color: var(--chapter-subtitle-background-color);
			color: var(--chapter-subtitle-text-color);
			font-weight: 600;
			padding-left: 40px;
		}
	}

	.user {
		display: flex;
		padding: 10px;
		font-size: 20px;
		align-items: center;

		.userName {
			color: var(--username-text-color);
			font-size: 16px;
		}

		.userImage {
			width: 25px;
			height: 25px;
			border-radius: 20px;
			margin-left: 10px;
		}
	}
}

main {
	height: 592px;
	background-color: var(--main-background-color);
	width: 100%;
	display: flex;

	img {
		width: 100%;
		height: auto;
	}

	&.introSection {
		overflow: hidden;

		.left {
			padding: 45px;
			width: 40%;
			background-color: #eeedf2;

			h1{
				font-weight: 500;
    			font-size: 5em;
				margin: 0;
			}
		}

		.right {
			background-color: #eeedf2;
			width: 60%;
		}

		.whiteBox{
			background-color: var(--white);
			padding: 10px 20px;
			display: inline-block;
			font-size: 20px;

			img{
				width: 60px;
				vertical-align: middle;
				margin-right: 10px;
			}
		}
	}

	&.instructionSection{
		background-color: var(--white);

		.holder{
			padding: 45px;
		}
	}

	&.questionSection {
		.left {
			width: 30%;
			overflow: hidden;
			object-fit: cover;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				position: absolute;
			}
		}

		.right {
			width: 70%;
			padding: 45px;
		}

		.title {
			font-size: 20px;
			position: relative;
		}

		.description {
			font-size: 16px;
			font-weight: normal;
		}

		.questionCount {
			border-bottom: 4px solid #000;
			display: inline-block;
			padding-bottom: 5px;
		}

		.timer {
			padding: 10px;
			display: inline-block;
			background-color: white;
			margin-bottom: 20px;
			font-weight: 600;
			white-space: nowrap;
			
			svg {
				vertical-align: middle;
			}
		}

		#options {
			display: flex;
			gap: 20px;
			justify-content: center;
			align-items: center;

			.btnTF {
				width: 150px;
				height: 150px;
				cursor: pointer;
				font-size: 30px;
				border-radius: 10px;
				text-transform: uppercase;
				font-weight: bold;
				background-color: var(--tnf-background-color);
				color: var(--tnf-text-color);
				border: 2px solid var(--tnf-border-color);

				&:hover {
					color: var(--tnf-text-hover-color);
					background: var(--tnf-background-hover-color);
					border-color: var(--tnf-border-hover-color);
				}

				&:disabled {
					cursor: default;
					color: var(--tnf-text-disable-color);
					background: var(--tnf-background-disable-color);
					border-color: var(--tnf-border-disable-color);
				}
			}
		}
	}

	&.reviewSection {
		flex-direction: column;
		padding: 45px;
		overflow-y: auto;
		background-color: var(--white);

		.top {
			background-color: var(--yellow);
			display: flex;
			padding: 30px 60px;
			font-size: 40px;
			gap: 90px;
		}

		button {
			font-size: 40px;
		}

		.left {
			width: 30%;
			overflow: hidden;
			object-fit: cover;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				position: absolute;
			}
		}

		.right {
			width: 70%;
			padding: 45px;
		}
		.innerText{
			font-size: 25px;
		}
	}

	&.endSection {
		background-color: var(--white);

		.holder {
			width: 100%;
			padding: 45px;
			overflow-y: auto;
		}

		.optionHolder{
			padding-left: 30px;

			>li{
				pointer-events: none;
			}
		}

		.answered {
			color: var(--success);
		}
	}

	.optionHolder {
		padding: 0;

		.option {
			margin: 0;
			display: flex;
			align-items: center;
			font-weight: 600;
		}

		span {
			height: 44px;
			width: 44px;
			min-width: 44px;
			border-radius: 5px;
			background-color: #fda715;
			color: #222627;
			font-weight: bold;
			font-size: 25px;
			text-align: center;
			line-height: 42px;

			&.active {
				background-color: #22353c;
				color: #fff;
			}
		}

		> li {
			margin-top: 10px;
			padding: 8px;
			border: 2px solid;
			border-radius: 5px;
			background-color: #fff;
			display: flex;
			gap: 10px;
			cursor: pointer;

			&:hover {
				span {
					background-color: #22353c;
					color: #fff;
				}
			}

			&.active {
				span {
					background-color: #22353c;
					color: #fff;
				}
			}
			&.correct{
				background-color: var(--end-correct-background-color);
			}

			.selection{
				font-size: 20px;
				display: inline-block;
				white-space: nowrap;
			}
		}

		&.matching{
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;
			flex-flow: column;
			border-bottom: 1px solid var(--black);

			>li{
				display: flex;
				padding: 0;
				border: 0;
				margin: 0;
				gap: 0;

				&.conflict{
					img{
						opacity: 1;
					}
				}
			}

			.selectBoxHolder{
				width: 20%;
				border: 1px solid var(--black);
				border-bottom: none;
				padding: 10px;
			}

			select{
				width: 100%;
				background-color: #fda715;
				padding: 5px 10px;
			}

			.selectLabel{
				width: 80%;
				border-top: 1px solid var(--black);
				border-right: 1px solid var(--black);
				padding: 10px 20px;

				display: flex;
				align-items: center;
				gap: 5px;

				img{
					width: 15px;
					opacity: 0;
				}
			}
		}
	}

	.listing {
		list-style: none;
		margin: 0;
		padding: 0;
		background-color: white;
		font-weight: 500;

		.answered {
			padding: 5px 10px;
			border-radius: 5px;
		}

		.unanswered {
			color: var(--danger);
			padding: 5px 10px;
			border-radius: 5px;
		}

		.optionContainer{
			padding: 10px 30px;
		}

		>li{
			display: flex;
			justify-content: space-between;
			gap: 20px;
			padding: 10px;
			cursor: pointer;
			border: 1px solid #ccc;
			border-bottom: none;

			&:hover{
				background-color: #faf2c0;
			}

			&:last-child {
				border-bottom: 1px solid #ccc;
			}

			&:nth-child(even) {
				background-color: #efefef;

				&:hover{
					background-color: #faf2c0;
				}
			}
		}

		.header {
			pointer-events: none;
			background-color: var(--yellow);
			padding: 10px 20px;
			font-weight: 600;
		}

		.content {
			svg {
				vertical-align: middle;
			}
		}

		.question{
			margin-top: 10px;
		}
		
		.contentHolder{
			display: flex;
			align-items: center;
			gap: 10px;

			> div{
				width: 900px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&.open{
				svg{
					transform: rotate(90deg);
				}

				>div{
					opacity: 0;
				}
			}
		}
	}
}

footer {
	padding: 10px 20px;
	background-color: var(--footer-background-color);
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ccc;
}
